grid-breakpoints {  
    --xs: 0;
    --sm: 576px;
    --md: 768px;
    --lg: 992px;
    --xl: 1200px;
    --xxl: 1400px
}

.main-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:auto;
    width:auto;
}

.art-title{
    font-size:17px;
    font-weight: 500;
}

.btn{
    margin-right:10px;
}

#spinner{
    display:flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 750px) {
    .row{
        justify-content: center;
    }

    .card{
        width:90% !important;
    }
}
